<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Postage Calculator</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/week09.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<h1>Postage</h1>
    <p class='whitebackground'> The postage for a <%= mailType %> weighing <%= weight %>oz will cost $<%= postage.toFixed(2) %></p>
</body>
